.navbar {
    padding: 8px;
}

.btn-dark{
    background-color: #2c3136;
    margin-right: 2px;
} 

.btn-dark:hover {
    color: black; 
    background-color: rgb(107, 107, 107); 
}

.btn-dark.active {
    color: white;
    border-bottom: 3px solid #00b7ff; 
    background-color: #343a40;
}



